.container{
    margin-top: -8px; /*probado en Firefox, probar otros*/
    margin-bottom: -8px; /*probado en Firefox, probar otros*/
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    background: #4679BD;
}
@media only screen and (max-width: 100vh) {
  .container {
    margin-left: -8px;
    margin-right: -8px;
    width: 100vw;
    height: 100vw;
  }
}

.container:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.row{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.row form {
   display: table;
   width: 100%;
   height: 100%;
}
.dz-message {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

#defaultCanvas0 {
  margin-top: -8px; /*probado en Firefox, probar otros*/
  margin-bottom: -8px; /*probado en Firefox, probar otros*/
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}
